### PROTECT FILES ###
<FilesMatch "\.(htaccess|htpasswd|ini|fla|psd|log|sh)$">
Order Allow,Deny
Deny from all
</FilesMatch>

RewriteEngine on
RewriteRule spoldzielnia-Asprod-Strzyzow index.html
RewriteRule oferta-metal-drewno-meble oferta.html
RewriteRule historia-firmy-Asprod o_naszej_firmie.html
RewriteRule nasza-lokalizacja-Asprod gdzie_nas_znalezc.html

