body {
    background-color: #fafffa;
    background-position: center;
    background-attachment: fixed;
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;

}

.bg-jumpers{
    background-color:#fafffa ; /*    #906030  #CADC79  #FFD700   	#CDEBA7  #C2B280 #333333 */

}

.upper:hover{
    text-decoration: none;
}

a{
    font-weight: 600;
}

a.middle
{
    position: relative;
}

@media(min-width: 992px) {
    a.middle:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: #000000;
        visibility: hidden;
        transform: scaleX(0);
        transition: all 0.3s ease-in-out;
    }

}

@media(min-width: 992px) {
    a.middle:hover:before {
        visibility: visible;
        transform: scaleX(1);
    }

}





h2{
    color: #000000;
    background-color:#EEE;
    padding:15px;
    display:table-cell;
    vertical-align:middle;
}

h3 {
    color: #203C85;
    text-align: center;
    font-size: 46px;
    margin-top: 40px;
    margin-bottom: 80px;
    font-weight: bold;

}

h4{
    color: #000000;
    font-weight: 600;
}

h5{
    color: gray;
}


p {
    color: black;
    margin: 20px;
    text-align: left;
    font-weight: 400;

}

hr {
  border: #203C85 solid;
}

.obraz {
    text-align: center;
}

.obraz img {
    width: 100%;
    height: auto;
}

.obraz p {
    margin-bottom: 30px;
}

.obraz figcaption {
    margin-top: 8px;
    color: #000000;
    font-weight: bold;

}

.photo1 {
    transition: all 0.2s ease-in-out;
    padding-top: 10%;
    padding-bottom: 10%;
    border-radius: 60px;


}

.photo1:hover {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
    
}

iframe {
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 80px;
}




@media (max-width: 580px) {
    img.przedmiot{
        transform: scale(0.6, 0.5);
        margin: 0px;
        padding: 0px;

    }

}



.ph {
    border: 2px solid black;
    border-radius: 150px;
}



.kafelek {

    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    background-color: white;
    border: 1px solid lightgray;

}

.kafelek:hover {

    border: 1px solid #203C85;
}

.kafelek1 {

    padding-top: 25px;
    padding-right: 25px;
    padding-bottom: 25px;
    padding-left: 25px;
    background-color: white;
    border: 1px solid lightgray;

}

.kafelek1:hover {

    border: 1px solid #203C85;
}




.breadcrumb {
    background-color: rgb(0, 0, 0, 0);
    font-size: small;
    list-style: none;
    padding-top: 50px;
}

a:link {

    color: #000033;

}

a:visited {

    color: #000033;

}

a:hover {

    color: black;

}

/*FORMULARZ KONTAKTOWY*/

.contact-section{
    background: #313840;
    padding: 80px 0;
    text-align: center;
    margin-bottom: 100px;
}

.inner-width{
    max-width: 600px;
    margin: auto;
    padding: 0 20px;
}

.contact-section h1{
    font-size: 20px;
    color: #888;
    margin-bottom: 40px;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-weight: 400;
}

.name,.email,.message{
    background: none;
    border:none;
    outline: none;
    border-bottom: 1px solid;
    color: #888;
    padding: 10px 6px;
    font-size: 14px;
    margin-bottom: 40px;
}

.name{
    float: left;
    width: 270px;
}

.email{
    float: right;
    width: 270px;
}

.message{
    min-width: 100%;
    max-width: 100%;
}


.contact-section .button{
    background: none;
    color: #70a1ff;
    border: 1px solid #70a1ff;
    padding: 12px 40px;
    border-radius: 8px;
    text-transform: uppercase;
    font-size: 14px;
    transition: 0.4s linear;
    cursor: pointer;
}

.contact-section .button:hover{
    background: #70a1ff;
    color: #fff;
}


@media screen and (max-width:600px){
    .name,.email{
        width: 100%;
    }
}



.tabelka
{
    padding-top: 50px;

}

.link p
{
    font-weight: bolder;
    text-align: center;
}

.overlay
{
    position: relative;
    height: 100px;
    width: 100px;
    border-radius: 10px;


}

.overlay .link
{
    position: absolute;
    display: block;
    left: 0px;
    bottom: 0px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    text-decoration: none;
}

.overlay:hover .link
{
    opacity: 0.8;
}

.cursor{
    cursor: default;
}

/* MENU */
.dropbtn {

  color: white;
  border: none;
  cursor: pointer;
}


.dropdown {
  position: relative;
  display: inline-block;

}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fafffa;
  min-width: 100%;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

@media  (min-width:991px){
    .dropdown-content a:hover {

    }
}


@media  (min-width:991px){
    .dropdown:hover .dropdown-content {
        display: block;

    }
}

.dropdown-item:hover{
    font-weight: bold;
    background-color: #fafffa;
}




p.ll{
  font-size: 19px;
  text-align: center;
}

h1.nag{
  color: black;
    padding-bottom: 5px;
    

}



hr.hrbold {
    overflow: visible;
    height: 30px;
    border-style: solid;
    border-color: #203C85;
    border-width: 1px 0 0 0;
    border-radius: 20px;
}
hr.hrbold:before {
    display: block;
    content: "";
    height: 30px;
    margin-top: -31px;
    border-style: solid;
    border-color: #203C85;
    border-width: 0 0 1px 0;
    border-radius: 20px;
}

hr.loc{

      border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));

}


.sklep
{
    margin-top: 10%;
    border: 1px solid #203C85;
}



p.czarne_tlo
{
    color: #FFFFFF;
}

li
{
    color: #203C85;
}


#srodek
{
    margin-top: 25%;
}

.now
{
    width: 100vw;
    left: 50%;
    transform: translateX(-50%);
    position: relative;
}


.foo
{
    font-size:25px;
}

.icon
{
    margin:13px;
}


#me
{
   
    clear: both;

   text-align: center;

    margin-bottom: 0;
}

#cent
{
    text-align: center;
}

#right
{
    text-align: right;
}


.swiper-container {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    z-index: 0;
    
  }
  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;

  }

  